.app-bar-text {
    color: #ffffff !important;
    @import url('https://fonts.googleapis.com/css?family=News+Cycle');
    font-size: xx-large;
    line-height: 60px;
    text-align: right;
    display: block;

}
